@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');

*{margin: 0 ;
padding:0;
}
header
{ max-width:100%;
padding: 0;
margin:0 auto;
height:100px;
background-color: aliceblue;
font-size: 13px;
display:flex;
justify-content: space-evenly;
}

.logo-container{
  width:450px;
  height: 100px;

  clear:both;
}
 a{
  text-decoration: none;
}
.logo-container2{
  width:350px;
  height: 100px;
  background-color:aliceblue;;
  display:flex;
  justify-content: space-around;
  align-items: center;
 
}
.upper{
  font-family: 'Satisfy',cursive;
  font-size: 65px;
}
header h1{
  
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 35px;
  color:rgb(2, 54, 2);
  letter-spacing: 3px;
  
}


/*-------new navigation bar start--------*/


.main-nav{
 
  max-width: 100%;
  height:60px;
  background-color: #81BA05;
  display:flex;
  justify-content:center;
scroll-behavior: smooth;

  
}
/*---------desptop or large screen navigation start--------*/
nav ul{
  
  height:50px;
  align-content: center;
  list-style-type: none;
  margin: 0;
  padding:0;
  
  
  
}

nav ul li{float: left;
}
nav li a, .dropbtn{
  display:inline-block;
  color: rgb(9, 49, 9);
  font-weight: bolder;
  font-size:20px;
  text-align: center;
  padding: 16px 30px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
}
nav li a:hover, .dropdown:hover .dropbtn{
  color:white;
}
nav li.dropdown{
  display: inline-block;
  
  height:50px;
}
.dropdown-content{
  display:none;
  position: absolute;
  background-color:#81BA05;
  min-width: 180px;
  
  
  z-index: 1;
}
.dropdown-content a{
  
  color:rgb(9, 49, 9);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 12px 16px 12px 30px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover{color: white;}
.dropdown:hover .dropdown-content{
  display: block;
}

.search-and-cart{
  display:flex;
  justify-content: space-between;
}
.search{
 padding:20px;
 width:13%; 
}
.search form{
  display:flex;
}
.search form label{
  font-size: 20px;
  font-weight: bolder;
  color: rgb(9, 49, 9);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-right: 10px;
}

.cart {
padding:17px 40px;
}
.cart a{
  text-decoration-line: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  font-size:20px;
  color:rgb(9, 49, 9);
}


/*------------------desptop or large screen navigation end-----------------*/

/*-------------sidepanel for mobile start------------------*/

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 600px;
  max-width: 400px;
  top: 0;
  left: 0;
  background-color: #81BA05;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidepanel-social{
  display:flex;
  flex-wrap: wrap;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(10, 34, 10);
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}


.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}
.btn {
  cursor: pointer;
  background-color: #81BA05;
 width:20px; 
   
}
.hamburger{
  width: 40px;
  cursor: pointer;
}
.openbtn:hover .hamburger:hover{
color:whitesmoke;
}
.openbtn{
background-color:#81BA05;
border:none;
margin:5px 5px;
width: 50px;
 height:40px;

}
.upper1{
  font-size:40px;
  font-family:satisfy; 
}
.smallnav{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(2, 54, 2);;
}
/*---------------sidepanel for mobile end----------------*/

/*------------new navigation bar end------------*/


html,body{
    height:100%;
    margin:0,auto;
    padding:0px;
}
main{
    min-height: 100%;
}

/*------------- hero image start --------*/
image{
  max-width: 100%;
}
.image-wrappper{
  width: 100%;
  margin:0 auto;
  
}

.image-wrapper img{
  max-width: 100%;
  margin-top: 5px;
  
}
/*----------- hero image end -------------*/


/*------------welcome note start-------------------*/
.welcome{
text-align: center;
font-weight: bold;
font-size: 40px; 
color:white;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
animation: text 3s infinite;
margin-top:-600px;
}

@keyframes text{
  0%{
    color:rgb(147, 192, 24);
    
   
  }
  30% {letter-spacing:25px;
    
 }
  85%{
    letter-spacing:25px;
    
    
  }
}
#videotext{
  text-align: right;
  font-weight:normal;
  font-size: 25px;  
  margin-top: 0px;
  margin-right:30px;
 
  color:rgb(8, 73, 8);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
z-index:-1;
}

/*------------welcome note end------------*/

/*------------- video content start------------ */
.video-wrapper{
  margin: 0 auto;
  width: 100%;
  display:relative;
  margin-top: 550px;
  margin-bottom:10px;
  
  
 
}
.videowrapper{
  position: relative;
  padding-bottom: 56.25%;
  top:0;

}
.videowrapper video{
  position: absolute;
  left: 0px;
  top: 0px;
  right:0px;
  bottom:0px;
  height:90%;
  width:100%;
}
/*--------------- video content end---------------*/




   /*-----------footer start----------*/

   #footer{
  
    position: relative;
    height:100px;
    background-color: #81BA05;
    margin-top: -100px;
    clear:both;
    
}
.social-media-footer{
 height:60px;
 background-color: #81BA05;
 display: flex;
 justify-content:flex-end;
}
.social-media-footer a{
  padding:20px;
}

.copyright{
  

    color: rgb(4, 22, 4);
    background-color:#81BA05;
    height:40px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	  display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/*------------footer end------------*/


/*------------About page start------------*/
.about-main{
  background-color: rgb(215, 248, 185);
  padding-bottom: 8em;
  padding-top: 2em;
  
}
.about{
 
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
  
  height: 700px;
  
  

}

.artist-bio{
  margin-top:20px;
  
  height:250px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left:5em;
  padding-right: 5em;
  
}
.artist-bio >p{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:rgb(9, 49, 9);
  text-align: start;
  line-height: 30px;
  margin-left: 1px;
  margin-right: 1px;
  font-size: 1em;
}
.artist-bio >h2{
  
  margin-bottom:5px;
  
  text-align: start;
  color:rgb(9, 46, 9);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

/*------------About page end------------*/

/*------------Artwork page start------------*/


.artwork-title-page{
  
  height: 100px;
  max-width:100%;
  background-color:rgb(215, 248, 185);
  display:flex;
  justify-content: space-around;
  align-content: center;
  border-bottom-style:outset;
  
  
}
.artwork-title-page h2{
  padding-top:50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  font-weight: 400;
  color:rgb(9, 46, 9);
}
.artwork-box-image figcaption{
  font-size:1.5em;
  font-weight:600;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:rgb(7, 36, 7);
}
.artwork-box-image-small figcaption{
  font-size:.8em;
  font-weight:700;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:rgb(7, 36, 7);
}
.artwork-box-image{
  padding-bottom:70px;
  padding-right: 0px;
  text-align: center;
  border-style: groove;
  padding-bottom:5.0%;
}
.artwork-box{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top:30px;
  margin-bottom: 200px;
  padding-right: 2px;
 
  
}
.artwork-box-image-small{
  padding-bottom:70px;
  padding-right: 0px;
  text-align: center;
  border-style: groove;
  padding-bottom:5.0%;
}



/*-----------Artwork page end------------*/

/*------------- Contact page start-----------*/
.contact-main{
  background: rgb(215, 248, 185)
}
.contact-form{
  display:flex;
  justify-content: center;
}
.contact-form > form > label{
display: block;
font-weight: 700;
margin-bottom: 0.5em;
color: rgb(9, 49, 9)
}
.form-input{
  border:2px solid #ccc;
  font-size: 16px;
  font-weight: 400;
  padding:1em;
  margin-bottom:1.5em;
  width: 100%;
}
.form-input:focus{
  outline:none;
  border: 2px solid #261f17;
}
[type="submit"]{
  background: #81BA05;
  color:rgb(7, 36, 7);
  
  width:50%;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 4px;
  border:0;
  padding:.5em;
  cursor: pointer;
}
[type="submit"]:hover,
[type="submit"]:focus{
background: rgb(82, 117, 5);
}

textarea{
  height:150px;
  resize: vertical;
}
.error{
  border-color: red;
}
.error-message{
  color:red;
  margin: -1em 0 1.5em;
}
/* --------contact page end------------*/




/*---contact and home page featured image starts---*/

.contact-featured-section{
  margin-top: 10px;
  margin-bottom: 200px;
}
.contact-featured-artwork-title{
  display: flex;
  justify-content: center;
  height: 50px;
  width:250px;
  margin-left: 10px;
  padding-top: 10px;
  margin-bottom: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #81BA05;
}
.contact-featured-artwork h2{
  font-size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  align-items:center;
  margin-top:10px;
  padding-top: 10px;
  
}
.contact-featured-artwork-image{
  
  display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
  width: 95%;
  height: 10%;
  margin-top: 0px;
  padding-bottom: 20px;
  padding-left: 2px;
  clear: left;
  
}
.contact-featured-artwork-large-imagebox{
  margin-bottom:29px;
  margin-left: 10px;
}
.contact-featured-artwork-small-imagebox{
  margin-bottom:29px;
  margin-left: 10px;
}
.contact-featured-artwork-large-imagebox figcaption{
  font-size:1.5em;
  font-weight:600;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:rgb(7, 36, 7);
  text-align: center;
}
.contact-featured-artwork-small-imagebox figcaption{
  font-size:.8em;
  font-weight:700;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:rgb(7, 36, 7);
  text-align: center;
}
@media screen and (max-width:485px){
  .contact-featured-artwork-large-imagebox{display:none}
}
@media screen and (min-width:485px){
.contact-featured-artwork-small-imagebox{display:none;}
}

/*---contact and home page featured image ends---*/





      /*------------responsive screen Start------------*/


/*responsive header, navigation and artwork page start*/

@media screen and (min-width:0px) and (max-width:1030px){
  
  header, nav ul, .search, .cart, .social-media-footer{
    display:none;
  }
  .main-nav{
    justify-content: space-evenly;
    
  }
  
}
@media screen and (min-width:1030px){
  .btn, .smallnav{
    display:none;
  }
}
@media screen and (min-width:0px) and (max-width:500px){
  .main-nav{
    justify-content: space-around;
  }
  .cart{display:none;}
}



/*responsive header, navigation and artwork page ends */

@media screen and (min-width:884px) and (max-width:1252px){
  .welcome{margin-top: -400px;}
  
}
@media screen and (min-width:1252px){
  .video-wrapper{
    margin-top:600px;
  }
}
@media screen and (min-width:768px) and (max-width:1252px){
  .video-wrapper{
    margin-top:400px;
  }
}
@media screen and (min-width:500px) and (max-width:884px){
  .welcome{margin-top: -200px;
  font-size: 25px;}
  
}

@media screen and (max-width:999px){
 
  @keyframes text{
    0%{
      color:rgb(147, 192, 24);
      
     
    }
    30% {letter-spacing:10px;
      
   }
    85%{
      letter-spacing:10px;
      
      
    }
  }
}

@media screen and (max-width:850px){

  @keyframes text{
    0%{
      color:rgb(147, 192, 24);
      
     
    }
    30% {letter-spacing:10px;
      
   }
    85%{
      letter-spacing:10px;
      
      
    }
  }
}

@media screen and (min-width:768px) and (max-width:1130px)
{
  .artist-bio{
    height:300px;
    padding-top: 10px;
  }
  .artist-bio >p{
    line-height: 20px;
  }
}
@media screen and (min-width:320px) and (max-width:767px){
  .about-main{
    margin-bottom: 40px;
  }
  .about{
    padding-bottom: 70%;
  }
  .artist-bio{
    height:550px;
    padding-top: 10px;
    padding-right:1px;
    padding-left:1px;
  }
  .artist-bio >p{
    line-height: 20px;
  }
}
@media screen and (max-width:320px){
  .artist-bio{
    height:550px;
    padding-top: 10px;
    padding-right:1px;
    padding-left:1px;
    padding-bottom: 10px;
  }
  .about-main{
    margin-bottom: 100px;
  }
}

  @media screen and (max-width:768px){
    .video-wrapper{
      margin-top:230px;
    }
  }
  @media screen and (max-width:740px){
    
    
  @keyframes text{
    0%{
      color:rgb(173, 233, 10);
      
     
    }
    30% {letter-spacing: 10px;
      
   }
    85%{
      letter-spacing:2px;
      
      
    }
  }
  .video-wrapper{
    margin-top: 200px;
  }
  #videotext{
    font-size:18px;
  }
  }
  
  @media screen and (max-width:500px){
   
   
    .welcome{
      margin-top: -150px;
      font-size: 15px;
      margin-bottom: 0 px;
    }
  
    @keyframes text{
      0%{
        color:rgb(173, 233, 10);
        
       
      }
      30% {letter-spacing: 5px;
        
     }
      85%{
        letter-spacing:2px;
        
        
      }
    }
  }
  @media screen and (max-width:375px){
 
  .contactpagefa{
    margin-top:100px;
   
  }
}

@media screen and (max-width:420px){
   

   
    .contactpagefa{
      margin-top:100px;
     
    }
    
    .copyright{
      display:inline-block;
     padding-left: 6px;
      padding-top: 50px;
  }
 
 
  }
@media screen and (max-width:400px){

.copyright{
    display:inline-block;
   padding-left: 6px;
    padding-top: 50px;
}

}




@media screen and (max-width:360px){
  
  [type="submit"]{
    font-size: 1.2em;
   
  }
  .contactpagefa{
    margin-top:100px;
   
  }
  
  .video-wrapper{
    margin-top: 200px;
   
  }
  #videotext{
    font-size:15px;
  }
  .copyright{
    padding-top: 20px;
    padding-left:20px;
  }
}



/*---responsive screen for about page starts---*/

@media screen and (max-width:385px){
  .artist-image img{display: none;}
}
@media screen and (min-width:385px){
  .artist-image-small img{display: none;}
}

/*---responsive screen for about page ends---*/


/*---responsive screen for artwork page start--*/

@media screen and (min-width:452px){
  .artwork-box-image-small{display: none;}
}
@media screen and (max-width:452px){
  .artwork-box-image{display: none;}
}
/*---responsive screen for artwork page ends---*/

/*---responsive screen for contact page starts---*/

@media screen and (min-width: 1065px){

  .contact-form form{
      width:50%;
      margin: 3em auto;
    }
  }
  @media screen and (max-width: 1065px){
  
    .contact-form form{
        width:50%;
        margin: 3em auto;
      }
  }
  /*---responsive screen for contact page ends---*/

       /*------------responsive screen ends------------*/